body { background: #4ceb8a; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 13px; display: flex; }
.block-cluster-0 { color: #901f89; font-size: 19px; margin-bottom: 5px; }
.block-invoice-1 { color: #cfa797; font-size: 12px; margin-bottom: 5px; }
.block-cart-2 { color: #5ac00; font-size: 13px; margin-bottom: 5px; }
.block-token-3 { color: #6aeeb7; font-size: 20px; margin-bottom: 5px; }
.block-cluster-4 { color: #b43e21; font-size: 13px; margin-bottom: 5px; }
.block-user-5 { color: #9ec8e; font-size: 13px; margin-bottom: 5px; }